body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: static;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
.con{
    text-decoration: none;
    color: white;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

main {
    flex: 2;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
}

main h2 {
    margin-top: 0;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #e0e0e0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    position:static;
    width: 100%;
    bottom: 0;
    
}

footer a {
    color: #ffc107;
    text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    main, aside {
        margin-right: 0;
    }

    footer {
        position: static;
         
    }
}
